body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #717D7E;
}

.quem-somos{
    background-color: #CACFD2;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #515A5A ;
    color: rgb(241, 211, 211);
}

.bg-footer{
    background-color: black;
    color: white;
}